@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* slant */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  /* the above aslo works but because of boostrp */
  a {
    text-decoration: none;
  }
body {
  margin: 0;
  font-family: poppins;
  background-color: #E9E873;
}


